<h1>
  <%= t(:greeting) %> <%= @name %>
</h1>

<p>
  <%= t(:notice) %> <br>
</p>
<h4> <%= t(:details) %> </h4>
<ul>
  <li> <%= t(:book) %> <%= @book %> </li>
  <li> <%= t(:from) %> <%= @from %> </li>
  <li> <%= t(:to) %> <%= @to %> </li>
</ul>
<p>
  <%= t(:goodbyes) %>
</p>
